body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
 * 
 *  Top Navbar
 *
 */

.upperNavbar {
  flex-grow: 0;
  display: flex;
  height: 80px;
  font-size: 1.26em;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0;
  border-bottom: 2px solid #ebedeb;
}

.upperNavbar a {
  font-size: 1em;
  margin: 0 15px;
  padding: 5px 12px 0 12px;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 5px solid rgba(139,55,6,0);
  background: rgba(255,255,0,0);
  transition-property: border-bottom-color;
  transition-duration: .3s;
  line-height: 70px;
  cursor: pointer;
  overflow: hidden;
}


.upperNavbar a:hover {
  border-bottom-color: rgba(139,55,6,1);
}

.upperNavbar .telephoneLink {
  font-size: .95em;
  margin: auto 25px;
  text-decoration: none;
  font-style: normal;
  color: black;
}

.navLeft {
  display:flex;
  height: 100%;
}

.title {
  margin: auto 29px;
  font-size: 1.22em;
}

.navRight {
  display: flex;
  height: 100%;
}

.accountButtonGrp {
  display: flex;
  justify-content: space-evenly;
  border-left: 2px solid #ebedeb;
  width: 235px;
}

.upperNavbar .accountButtonGrp a {
  margin: 0;
}

address {
  display: contents
}


/* 
 * 
 *  Main Map section 
 *
 */

 .mapApp {
   display: flex;
   height: calc(100vh - 82px);
 }

 .mapAside {
   display: flex;
   flex-direction: column;
   width: 606px;
   padding: 38px 20px 0 30px;
   overflow: hidden auto;
   border-right: 2px solid #ebedeb;
   box-sizing: content-box;
 }

 .mapEmbed {
   flex: 1;
   margin: 0;
 }


/* 
 * 
 *  Map Left
 *
 */

.searchBar {
  display: flex;
  justify-content: space-between;
  height: 53px;
}

.searchBar form {
  display: contents;
}

.searchInputContainer {
  display: flex;
  height: 100%;
  margin-right: 23px;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 1;
}

.searchInput {
  flex: 1;
  font-size: 1.14em;
  padding: 0 0 0 15px;
  height: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 0;
}

.searchSubmit {
  flex: 0;
  min-width: 51px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  background-image: url('/assets/icons/search-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.searchCatagorySelect {
  font-size: 1.13em;
  padding: 0 0 0 10px;
  border: 1px solid #808080;
  border-radius: 5px;
  width: 187px;
  height: 100%;
  box-sizing: border-box;
}

.searchCatagorySelect::before {
  content: 'h';
}

.customDropdownArrow {
  box-sizing: border-box;
  background:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
  background-position:
    calc(100% - 23px) calc(50% + 0px),
    calc(100% - 15px) calc(50% + 0px),
    100% 0;
  background-size:
    8px 8px,
    8px 8px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  appearance:none;

  /* reset */
}