body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
 * 
 *  Scrollbar
 *
 */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/* 
 * 
 *  Top Navbar
 *
 */

.upper-navbar {
  flex-grow: 0;
  display: flex;
  height: 80px;
  font-size: 1.26em;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0;
  border-bottom: 2px solid #ebedeb;
}

.upper-navbar a {
  font-size: 1em;
  margin: 0 15px;
  padding: 5px 12px 0 12px;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 5px solid transparent;
  background: transparent;
  transition-property: border-bottom-color;
  transition-duration: .3s;
  line-height: 70px;
  cursor: pointer;
  overflow: hidden;
}


.upper-navbar a:hover {
  border-bottom-color: rgba(139,55,6,1);
}

.upper-navbar a.active-page {
  border-bottom-color: rgba(139,55,6,1);
}

.upper-navbar .telephone-link {
  font-size: .95em;
  margin: auto 25px;
  text-decoration: none;
  font-style: normal;
  color: black;
}


.upper-navbar .telephone-link:hover {
  border-bottom-color: transparent;
}

.nav-left {
  display:flex;
  height: 100%;
}

.page-title {
  margin: auto 29px;
  font-size: 1.22em;
}

.nav-right {
  display: flex;
  height: 100%;
}

.account-button-grp {
  display: flex;
  justify-content: space-evenly;
  border-left: 2px solid #ebedeb;
  width: 235px;
}

.upper-navbar .account-button-grp a {
  margin: 0;
}

.upper-navbar address {
  display: contents
}


/* 
 * 
 *  Main Map section 
 *
 */

.map-app {
  display: flex;
  height: calc(100vh - 82px);
}

.map-aside {
  display: grid;
  grid-template-rows: 91px 286px 1fr;
  width: 656px;
  height: calc(100vh - 82px);
  overflow: hidden;
  border-right: 2px solid #ebedeb;
  box-sizing: content-box;
}

.map-embed {
  flex: 1;
  margin: 0;
}


/* 
 * 
 *  Search Bar
 *
 */

.search-bar {
  display: flex;
  justify-content: space-between;
  min-height: 53px;
  margin: 38px 20px 0 30px;
}

.search-bar form {
  display: contents;
}

.search-input-container {
  display: flex;
  height: 100%;
  margin-right: 23px;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 1;
}

.search-input {
  flex: 1;
  font-size: 1.14em;
  padding: 0 0 0 15px;
  height: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 0;
}

.search-submit {
  flex: 0;
  min-width: 51px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  background-image: url('/assets/icons/search-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.search-catagory-select {
  font-size: 1.13em;
  padding: 0 0 0 10px;
  border: 1px solid #808080;
  border-radius: 5px;
  width: 187px;
  height: 100%;
  box-sizing: border-box;
}

.search-catagory-select::before {
  content: 'h';
}

.custom-dropdown-arrow {
  appearance:none;
  box-sizing: border-box;
  background:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
  background-position:
    calc(100% - 23px) calc(50% + 0px),
    calc(100% - 15px) calc(50% + 0px),
    100% 0;
  background-size:
    8px 8px,
    8px 8px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

/* 
 * 
 *  Search Results
 *
 */
 
.map-aside-section-title {
  font-size: 1em;
  padding: 0 0 16px 0;
  margin: 45px 20px 0 30px;
  box-sizing: content-box;
  border-bottom: 2px solid #ebedeb;
}

.search-result-card {
  display: flex;
  justify-content: space-between;
  margin: 18px 20px 0 30px;
}

.search-result-img {
  width: 188px;
  height: 188px;
}

.search-result-info {
  width: 398px;
  height: 188px;
}

.search-result-name {
  font-size: 1.75em;
  line-height: .7;
  margin: 0;
}

.search-result-location {
  font-size: 1.32em;
  margin: 0;
  padding-top: .5em;
}

.search-result-list-question {
  font-size: 1.15em;
  padding: .3em 0 0 0;
  margin: 0;
  padding-top: 1em;
}

.search-result-button-container {
  padding-top: .82em;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.search-result-button-container button {
  width: 188px;
  font-size: 1.3em;
  letter-spacing: .1em;
  color: white;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
}

.maroon-bkgd {
  background-color: #8b3706;
}

.grey-bkgd {
  background-color: #7d8684;
}

/* 
 * 
 *  Nearby Listings
 *
 */

 .listings-container {
   height: calc(100vh - 540px);
   overflow: hidden auto;
 }

.listing-card {
  position: relative;
  border: 2px solid #ebedeb;
  border-top-width: 5px;
  border-radius: 5px;
  margin: 22px 15px 0 30px;
  height: 130px;
  width: 601px;
  box-shadow: 5px 5px 5px #ebedeb;
}

.listing-card-label {
  position: absolute;
  top: -5px;
  right: 0;
  padding: 0 12px;
  background-color: #ebedeb;
  border-top-right-radius: 5px;
  font-size: .8em;
  line-height: 1.5em;
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
}

.favorite-listing {
  padding: 6px 0 0 13px;
  margin: 0;
}

.listing-col {
  flex: 1;
  padding: 0 15px;
}

.listing-star-icon {
  width: 20px;
}

.listing-info {
  display: flex;
  justify-content: space-between;
}

.list-name {
  font-size: 1em;
  font-weight: bold;
}

.list-price {
  padding-top: 5px;
  font-size: 1.5em;
}

.active-badge {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 55px;
  margin-top: 15px;
  padding: 0 6px 0 2px;
  border: 1px solid #808080;
  border-radius: 3px;
  font-size: .76em;
  line-height: 1.5em;
  text-align: right;
}

.green-dot {
  background-color: green;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.list-data-label {
  display: flex;
  align-items: center;
  font-size: .73em;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  padding: 3px 0;
}

.list-data {
  padding: 2px 0 12px 0;
}

.info-icon {
  padding-left: 5px;
  width: 11px;
  cursor: pointer;
}

.listing-spacer {
  height: 22px;
}